@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

header{
  background-color: white;
  margin: 10px 15px;
  display:flex;
  align-items: center;
  justify-content: space-between
}
.zoho-logo{
  width: 50px;;
}
.container-1{
  background-color:#f6f9fd ;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.container-1 p{
  margin-top: 20px;
  margin-bottom: -20px;
  font-size: 15px;
  color: #333;
}
.container-1 h1{
  font-weight: 300;
}
button{
    background-color: transparent;
    color: #0a73c0;
    border: 1px solid #0a73c0;
    padding: 16px 20px 16px 24px;
    border-radius: 2px;
}
.fa-angle-right{
  padding: 0px 0px 0px 15px;
}
.btn-2{
  background: #f60014;
  color: white;
  border: 1px solid #f60014;
}
.container-shares{
  text-align: center;
  margin-bottom: 30px;
}
.container-shares p{
  margin-bottom: 10px;
  font-size: 11px;
}
.container-shares .fa-brands{
  margin: 10px 3px;
  border: 10px solid #f3f4f5;
  border-radius: 50%;
  transition: border-color .4s;
  text-align: center;
}
hr{
  opacity: 40%;
}
.container-2{
  margin: 55px 40px;
}
.conatin-job{
  font-size: 15px;
  font-weight: 300;
  color: #0a73c0;
  margin-bottom: 20px;
}
.job-details{
  flex-basis: 100%;
}
.conatin-job span{
  color: #888;
}
.job-info{
  margin-top: 15px;
  margin-bottom: 20px;
}
.job-info h2{
  font-weight: 400;
  font-size: 27px;
}
.small{
  font-size: 14px;
margin: 15px 0px;
color: #333;
}
.large{
  font-weight: 500;
  margin-top: -5px;
  margin-bottom: 30px;
  font-size: 17px;
}
.job-description h2{
  font-weight: 400;
  font-size: 27px;
}
.job-description ul{
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.job-description ul li{
  color: #333;
  line-height: 2;
  font-size: 17px;
}
.job-description p{
  color: #333;
  margin-bottom: 100px;
  line-height: 2;
}
.container-3{
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#f6f9fd ;
}
.btn-1:hover{
  background-color:#fff ;
}
.container-4{
    text-align: center;
    width: 100%;
    padding: 50px 0 50px;
    background: #0b0d1f;
    margin-bottom: 30px;
}
.container-4 p{
  color: #888;
  font-size: 14px;
  font-weight: 600;
}
.recruit{
  display: flex;
  align-items: center;
  justify-content: center;
}
.recruit img{
  width: 100px;
}
.recruit p{
  color: white;
  font-size: 17px;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  margin-bottom: 90px;
}











@media screen and (min-width: 576px) {
  
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
  .job-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .job-info, .job-description{
    flex-basis: 50%;
  }
  .job-info{
    margin-top: -300px;
    margin-left: 200px;
  }

  .job-description{
    margin-left: 10px;
    margin-top: 10px;
  }
  .job-description ul li{
    font-size: 16px;
  }
  .job-description p{
    font-size: 16px;
    line-height: 2;
  }footer{
    margin-bottom: 40px;
  }
}

/* Large devices (desktops) */

@media (min-width: 991px) {

.job-info{
  margin-top: -205px;
  margin-left: 200px;
}
footer{
  margin-bottom: 40px;
}
}

/* Extra large devices (large desktops) */

@media (min-width: 800px) {
  .job-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .job-info, .job-description{
    flex-basis: 50%;
  }
  .job-info{
    margin-top: -260px;
    margin-left: 200px;
  }

  .job-description{
    margin-left: 10px;
    margin-top: 10px;
  }
  footer{
    margin-bottom: 40px;
  }
}
